In [74]:
import pandas as pd
data=pd.read_csv('TempData/q3_cleaned_data.csv',encoding='utf-8')

In [87]:
'''第一个变革期'''
data1=data[(data['year']>=1944)&(data['year']<=1952)]
a=data1.groupby('new_id')['popularity'].sum()
a=pd.DataFrame(a)
a['id']=list(a.index)
a=a.sort_values(['popularity'],ascending=False)
a.to_csv("TempData/question5/change_time01.csv",encoding="utf-8",index=False)
a

        popularity      id
new_id
165011         905  165011
869487         624  869487
604852         580  604852
167517         537  167517
237517         500  237517
...            ...     ...
365542           0  365542
367272           0  367272
809058           0  809058
369389           0  369389
362437           0  362437

[480 rows x 2 columns]

In [89]:
'''第二个变革期'''
data2=data[(data['year']>=1962)&(data['year']<=1965)]
a=data2.groupby('new_id')['popularity'].sum()
a=pd.DataFrame(a)
a['id']=list(a.index)
a=a.sort_values(['popularity'],ascending=False)
a.to_csv("TempData/question5/change_time02.csv",encoding="utf-8",index=False)
a

        popularity      id
new_id
622805        3188  622805
988440        2773  988440
626463        2629  626463
44764         2356   44764
41874         2263   41874
...            ...     ...
185617           8  185617
214593           8  214593
137494           7  137494
194578           7  194578
138699           6  138699

[1066 rows x 2 columns]

In [91]:
'''第三个变革期'''
data3=data[(data['year']>=1975)&(data['year']<=1985)]
a=data3.groupby('new_id')['popularity'].sum()
a=pd.DataFrame(a)
a['id']=list(a.index)
a=a.sort_values(['popularity'],ascending=False)
a.to_csv("TempData/question5/change_time03.csv",encoding="utf-8",index=False)
a

        popularity      id
new_id
66915        10800   66915
79016         8840   79016
792507        7251  792507
816890        5032  816890
858827        4878  858827
...            ...     ...
806247          20  806247
479113          19  479113
363327          19  363327
110541          19  110541
343396          19  343396

[2290 rows x 2 columns]